/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* 
@import '@angular/material/prebuilt-themes/purple-green.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
 */

.bo {
    border: 1px black solid;
}
.bo-red {
    border: 1px red solid;
}

.bo-blue {
    border: 1px blue solid;
}

.mr-1 {
    margin-right: 1rem;
}
